libs/jspiff/jspiff-1.0/src/main/schema/xspf-1.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- ==================================================================
     Relax NG Schema for XSPF Version 1

     $Id$

     This schema was written as a service for developers who want
     to validate the playlists generated by their applications.
     Nobody claims it is perfect, so if you find bugs please report
     them. In any case, the spec overrides this schema.

     Further information about XSPF is available at http://www.xspf.org


     Copyright (c) 2005 Matthias Friedrich <matt at mafr.de>

     The schema is released under the Creative Commons 
     Attribution-ShareAlike 2.5 license.

     http://creativecommons.org/licenses/by-sa/2.5/

     ================================================================== -->


<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://xspf.org/ns/0/">


    <start>
        <ref name="playlist"/>
    </start>


    <define name="playlist">
        <element name="playlist">
            <attribute name="version">
                <data type="string">
                    <param name="pattern">\d+</param>
                </data>
            </attribute>

            <optional>
                <element name="title">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="creator">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="annotation">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="info">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="location">
                    <data type="anyURI"/>
                </element>
            </optional>
            <optional>
                <element name="identifier">
                    <data type="anyURI"/>
                </element>
            </optional>
            <optional>
                <element name="image">
                    <data type="anyURI"/>
                </element>
            </optional>
            <optional>
                <element name="date">
                    <data type="dateTime"/>
                </element>
            </optional>
            <optional>
                <element name="license">
                    <data type="anyURI"/>
                </element>
            </optional>

            <optional>
                <ref name="attribution"/>
            </optional>

            <zeroOrMore>
                <ref name="link"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="meta"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="extension"/>
            </zeroOrMore>

            <element name="trackList">
                <zeroOrMore>
                    <ref name="track"/>
                </zeroOrMore>
            </element>
        </element>
    </define>


    <define name="attribution">
        <element name="attribution">
            <zeroOrMore>
                <element name="location">
                    <data type="anyURI"/>
                </element>
            </zeroOrMore>
        </element>
    </define>


    <define name="link">
        <element name="link">
            <attribute name="rel">
                <data type="anyURI"/>
            </attribute>

            <data type="anyURI"/>
        </element>
    </define>


    <define name="meta">
        <element name="meta">
            <attribute name="rel">
                <data type="anyURI"/>
            </attribute>

            <text/>
        </element>
    </define>


    <define name="extension">
        <element name="extension">
            <attribute name="application">
                <data type="anyURI"/>
            </attribute>

            <zeroOrMore>
                <choice>
                    <element>
                        <anyName/>
                        <ref name="anything"/>
                    </element>
                    <text/>
                </choice>
            </zeroOrMore>
        </element>
    </define>


    <define name="anything">
        <zeroOrMore>
            <choice>
                <element>
                    <anyName/>
                    <ref name="anything"/>
                </element>
                <attribute>
                    <anyName/>
                </attribute>
                <text/>
            </choice>
         </zeroOrMore>
    </define>


    <define name="track">
        <element name="track">
            <zeroOrMore>
                <element name="location">
                    <data type="anyURI"/>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="identifier">
                    <data type="anyURI"/>
                </element>
            </zeroOrMore>

            <optional>
                <element name="title">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="creator">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="annotation">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="info">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="image">
                    <data type="anyURI"/>
                </element>
            </optional>
            <optional>
                <element name="album">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="trackNum">
                    <data type="nonNegativeInteger"/>
                </element>
            </optional>
            <optional>
                <element name="duration">
                    <data type="nonNegativeInteger"/>
                </element>
            </optional>

            <zeroOrMore>
                <ref name="link"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="meta"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="extension"/>
            </zeroOrMore>
        </element>
    </define>

</grammar>